<p><b><%= `ФИО: ${person["ФИО"]}` %></b></p>

<% if (person["Дата задержания"] && person["Дата задержания"] !== "" ) { %>
    <p>Дата задержания: <b> <%= `${person["Дата задержания"]}` %></b></p>
<% } %>
<% if (person["Год"] !== ""){ %>
<p><%= `Год или дата рождения: ${person["Год"]}` %></p>
<% }else { %>
    <p> Год или дата рождения: неизвестно </p>
<% } %>

<% if (person["Сводка"] !== "") { %>
    <p><%= `Что известно: ${person["Сводка"]}` %> </p>
<% } else { %>
    <p> Что известно: поступила информация о задержании, ждём дополнительной информации. Как только
        что-то будет
        известно, информация отобразится на сайте. </p>
<% } %>
<% if (person["Суд, судья, приговор"] && person["Суд, судья, приговор"] !== "") { %>
    <p><%= `Суд, судья, приговор: ${person["Суд, судья, приговор"]} ` %></p>
<% } %>
<% if (person["Отпустили"] && person["Отпустили"] !== ""){ %>
    <p><%= `Дополнительная информация: ${person["Отпустили"]}` %></p>
<% } %>

<% if (person["Дата выхода"] && person["Дата выхода"] !== ""){ %>
    <p><%= `Дата выхода: ${person["Дата выхода"] } ${person["Время выхода"] || ''} ` %></p>
<% } %>

<hr/>
